<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/ress.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="active" href="/home">HOME</a></li>
                <li><a href="/create-user">CREATE</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="/">LANDING PAGE</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>List user</h1>
        <table id="customers">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Action</th>
            </tr>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.city %></td>
                    <td>
                        <button><a href="/delete-user/<%= user.id %>">Delete</a></button>
                        <button><a href="/edit-user/<%= user.id %>">Edit</a></button>
                    </td>
                </tr>
            <% }) %>
    </main>
</body>
</html>